
/*LAYOUT*/

body{
	margin:1.4em;
}

.section{
	font-family:verdana, arial, helvetica, sans-serif;
	font-size:10px;
	color:#848484;
	line-height:170%;
	padding: 3em 0em 3em 0em;
	margin-left:2em;
	max-width:70%;
	border-bottom:1px dotted #cdcdcd;
}

#graph.section{
	border-bottom:none;
}

/*INPUT*/

.section input{
	border:1px solid #cccccc;
	font-size:200%;
	color:#a9a9a9;
	display:block;
}

label{
	display:none;
}

/*TYPOGRAPHY*/

*{
	font-size:1em;
}

a{
	color:#0265cb;
	text-decoration:none;
}
.lexical{
	font-weight:bold;
}

h1{
	font-weight:normal;
	margin:0;
}

ul li{
	list-style:none;
}

ol{
	padding-left:2em;
}

ul.tags li{
	display:inline;
	margin:.4em;
}

ul.tags li a{
	color:#ffffff;
}
.positive{
	color:#ffffff;
	background-color:#7edf44;
	padding:.2em;
}
.negative{
	color:#ffffff;
	background-color:#fe9900;
	padding:.2em;
}